<div class="model-address">
  <div class="container">
    <div class="row">
      <h5 class="col-12 font-weight-bold">
        {{ client ? client.nome : "..." }}
      </h5>
      <app-address-list
        class="w-100"
        [addresses]="addresses"
        (addressId)="handleUpdate($event)"
      ></app-address-list>
      <app-address-form
        class="w-100"
        [addressId]="addressId"
        [clienteId]="clienteId"
        (add)="addressId = null"
        (addAddress)="newAddress($event)"
        (delAddress)="deleteAddress($event)"
        (updAddress)="updateAddress($event)"
      ></app-address-form>
      <div class="close" (click)="handleClose()">
        <i class="fa fa-close"></i>
      </div>
    </div>
  </div>
</div>
